@use "variables";

.row{
    padding: 0;
    margin: 0;
}

.formacao{
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 1.5rem 0;
    background-color: rgb(0, 0, 0,0);
    font-family: variables.$font_famaly;
}

.formacao_main{
    width: 80%;
    pad: 2rem;
}

.formacao_title{
    margin-bottom: 2rem;
}

.formacao_skills,
.formacao_escolar,
.formacao_atuacao{
    width: 100%;
    padding: 2rem 2rem !important;
    border-radius: variables.$global_border_radius;
    z-index: 2;
}

.formacao_skills{
    $color_formacao_skills: black;
    $background_formacao_skills: white;

    position: relative;
    color: $color_formacao_skills !important;
    background-color: $background_formacao_skills;
    transition: variables.$transition-time;

    
    .card-body{
        color: white; 
        background-color: $background_formacao_skills !important;
        border: 1px solid variables.$cyan_light !important;
        border-radius: 5px;
    }
    .list-group-item{
        color: $color_formacao_skills !important;
        background-color: $background_formacao_skills !important;
        border-bottom: 1px solid variables.$cyan_light;
    }
    
    .progress{
        height: 8px !important;
        .progress-bar{
            background-color: variables.$cyan_light;;
        }
    }
    
}
.formacao_skills:hover{
    box-shadow: 0px 0px 10px 0px black;
}

.formacao_escolar{
    transition: variables.$transition-time;

    .list-group{
        border-left: 2px solid white;
    }

    .list-group-item{
        padding-top: 0;
        padding-bottom: 1rem;
        border: 0px;
        background-color: rgb(0, 0, 0,0);
        span{
            margin-top: 0.75rem;
        }
    }

    .bg-primary{
        background-color: variables.$cyan_light !important;
    }

    p{
        margin: 0;
    }
}

.formacao_atuacao{
    .list-group{
        border-left: 2px solid white;

    }

    .list-group-item{
        padding-top: 0;
        padding-bottom: 1rem;
        border: 0px;
        background-color: rgb(0, 0, 0,0);
    }

    .bg-primary{
        background-color: variables.$cyan_light !important;
    }
}

.formacao_escolar:hover,
.formacao_atuacao:hover{
    box-shadow: 0px 0px 10px 0px black;
}


