@use "variables";

// ============== NAVBAR ==============
#nav-container{
    padding: 0;
}

.navbar{
    width: 100%;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 0 0 3px 3px;
    box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.75);
}

.navbar a{
    color:  variables.$cyan_dark;
    border-bottom: 2.5px solid white;
    // padding-top: 1rem;
    // padding-bottom: 1rem;
}

.navbar a:hover{
    color: white;
    background-color: variables.$cyan_light;
    border-bottom: 2.5px solid variables.$cyan_light;
}

.container-fluid .navbar-brand{
    padding: 0.8125rem 1rem;
}

.navbar-nav .custom-link{
    padding: 1rem 1rem;
}

.active{
    color: white !important; 
    background-color: variables.$cyan_light !important;
    border-bottom: 2.5px solid variables.$cyan_light !important;
}
