@use "variables";

// ============== NAVBAR ==============
#nav-container{
    padding: 0;
}

.navbar{
    background-color: variables.$secondary;
    box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.75);
}

.navbar a{
    color: white;
    border-bottom: 2.5px solid variables.$secondary;
    // padding-top: 1rem;
    // padding-bottom: 1rem;
}

.navbar a:hover{
    color: white;
    border-bottom: 2.5px solid white;
}

.container-fluid .navbar-brand{
    padding: .83rem 1rem;
}

.navbar-nav .custom-link{
    padding: 1rem 1rem;
}
