@use "variables";
.projetos{
    font-family: variables.$font_famaly;
    background-color: rgb(0, 0, 0,0);
}
    
.card{
    width: 20rem !important;
    box-shadow: 0 0 3px grey;
    transition: variables.$transition-time;

    img{
        height: 15rem !important;
        object-fit: cover;
    }
    p{
        margin: 0;
    }
}

.card:hover{
    box-shadow: 0 0 5px white;
}