@use "variables";
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

// main {
//     width: 100%;
//     min-height: 100vh;
    
// }
.row{
    padding: 0;
    margin: 0;
}

.sobre{
    padding: 5rem 0;
    font-family: variables.$font_famaly;
    background-color: white;
}

.sobre_container{
    padding: 3rem 7rem !important;
    border-top: 1px solid variables.$cyan_light;
    border-bottom: 1px solid variables.$cyan_light;
    // border-radius: 2rem;
    box-shadow: 0px 0px 20px 0px variables.$cyan_dark;
}

.sobre_texto, .sobre_img{
    width: 50% !important;
    padding: 2.5rem 3.5rem !important;
    border: 1px solid white;
    border-radius: 10px;
    text-justify: inter-word;
    transition: variables.$transition-time;
}

.sobre_texto:hover{
    border: 1px solid grey;
    box-shadow: 0px 0px 10px 0px black;
} .sobre_img:hover{
    border: 1px solid grey;
    box-shadow: 0px 0px 10px 0px black;
}


.sobre_img{
    // position: relative;
    // width: ;
    

    .gato_img{
        // position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}