@use "variables";
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

// main {
//     width: 100%;
//     min-height: 100vh;
    
// }
.row{
    padding: 0;
    margin: 0;
}

.sobre{
    padding: 5rem 0;
    font-family: variables.$font_famaly;
    background-color: white;
}

.sobre_container{
    padding: 3rem 7rem !important;
    border-top: 1px solid variables.$cyan_light;
    border-bottom: 1px solid variables.$cyan_light;
    // border-radius: 2rem;
    box-shadow: 0px 0px 20px 0px variables.$cyan_dark;
}

.sobre_texto, 
.sobre_card{
    // width: 50% !important;
    padding: 2.5rem 2rem !important;
    border-radius: variables.$global_border_radius;
    p{
        text-indent: 3em;
        text-align: justify;
        text-justify: inter-word;
    }
    transition: variables.$transition-time;
}

.sobre_card{
    width: 100%;
    position: relative;
    
    .sobre_card_lista{
        border-radius: variables.$global_border_radius;
        transition: variables.$transition-time;
    }
    
    .sobre_img{
        $tamanho_img: 250px;
        width: $tamanho_img;
        height: $tamanho_img;
        padding-right: 5px;
        padding-bottom: 5px;
        border-right: 5px solid variables.$cyan_light;
        border-bottom: 5px solid variables.$cyan_light;
        transition: variables.$transition-time;
        // border-radius: variables.$global_border_radius;
    }
}
.sobre_texto:hover,
.sobre_img:hover{
    box-shadow: 0px 0px 10px 0px grey;
}