@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";

$primary: #54caf4;
$secondary: $blue-800;
$cyan_light: #40aec3;
$cyan_dark: #4a7988;
$black: #181920;
$custom-grey: #25242b;

$font_famaly: 'Poppins', sans-serif;

$transition-time: 0.5s;