@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";

$primary: #54caf4;

$secondary: $blue-800;
$cyan_light: #40aec3;
$cyan_dark: #4a7988;

$my_black: #181920;
$my_grey: #25242b;

$font_famaly: 'Poppins', sans-serif;

$global_border_radius: 5px;

$transition-time: 0.5s;

