@use "variables";

.listagem_contatos{
    background-color: white;
    border-radius: variables.$global_border_radius;
    box-shadow: 0 0 10px 0 black;
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
    h2{
        position: relative;
        padding: 1rem 2rem;
        color: white;
        background-color: variables.$cyan_light;
        box-shadow: 0 0 5px 0 black;
    }
    .div_table_scroll{
        overflow-y: scroll;
        i{
            color: variables.$cyan_dark;
            transition: variables.$transition-time;
        }
        i:hover{
            color: red;
        }
    }
    .btn_cancelar{

    }
    .btn_limpar{
        transition: variables.$transition-time;
    }
    .btn_limpar:hover{
        background-color: red !important;
        border-color:red !important;
    }
}