@use "variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    
}

main{
    width: 100%;
    min-height: 100vh;
    position: relative;
    // overflow-y: scroll;
}

@import "nav";
@import "inicio";
@import "sobre";
@import "formacao";
@import "atuacao";
@import "projetos";
@import "contato";
@import "footer";

.btn-outline-primary{
    color: variables.$cyan_light !important;
    border: 1px solid variables.$cyan_light !important;
    transition: variables.$transition-time;
}
.btn-outline-primary:hover{
    color: white !important;
    background-color: variables.$cyan_light !important;
}

section{
    width: 100%;
    min-height: 100vh;
}

.title_main{
    position: relative;
    font-size: 2rem;
    padding: 0.25em 1em;
    // text-transform: uppercase;
    font-family: variables.$font_famaly;
    color: black;
    transition: variables.$transition-time;
}

.title_main:hover{
    // color: white;
    // background-color: variables.$cyan_light; 
    text-shadow: 0px 0px 2px grey;
}

.title_main::before{
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 1px solid variables.$cyan_light;
    right: 0.5rem;
    bottom: 0.5rem;
    transition: variables.$transition-time;
}

.title_main:hover::before{
    // border-bottom: 1px solid white;
    box-shadow: 0px 0px 5px 0px grey;
}

.title_main::after{
    content: '';
    position: absolute;
    height: 100%;
    border-left: 1px solid variables.$cyan_light;
    left: 1rem;
    transition: variables.$transition-time;
}

.title_main:hover::after{
    // border-left: 1px solid white;
    box-shadow: 0px 0px 5px 0px grey;
}

.span_destaque{
    color: variables.$cyan_light;
}


// ==================== TESTE =======================

.projetos{
    background-color: white;
}

.projetos_main{

}

.card{
    width: 15rem !important;
    box-shadow: 0 0 3px grey;
    transition: variables.$transition-time;

    img{
        height: 18rem !important;
        object-fit: cover;
    }
}

.card:hover{
    box-shadow: 0 0 10px variables.$cyan_light;
}


@import "../bootstrap/scss/bootstrap.scss";

