@use "variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    width: 100%;
    min-height: 100vh;
}

@import "nav";
@import "inicio";
@import "sobre";
@import "formacao";
@import "atuacao";
@import "projetos";
@import "contato";
@import "footer";

section{
    width: 100%;
    min-height: 100vh;
}

$body-bg: variables.$gray-400;

@import "../bootstrap/scss/bootstrap.scss";

